<template>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
            @click="showHideInformation"
            :lazy-src="latestImage.primaryImageSmall"
            height="1200"
            width="1920"
            contain
            :src="latestImage.primaryImage"
        >
          <v-expand-transition>
            <v-sheet
                v-if="showImageInformation"
                class="t-auto align-center justify-center px-2 white--text"
                color='rgba(0, 0, 0, .36)'
                height="180"
            >
              <h1>{{latestImage.title}} ({{latestImage.objectEndDate}})</h1><br/>
              <h2>{{latestImage.department}}</h2>
            </v-sheet>
          </v-expand-transition>
          <template v-slot:placeholder>
            <v-row
                class="fill-height ma-0"
                align="center"
                justify="center"
            >
              <v-progress-circular
                  indeterminate
                  color="black lighten-5"
              ></v-progress-circular>
            </v-row>
          </template>
        </v-img>
      </v-col>
      <v-snackbar
          v-model="error"
          :timeout="timeout"
      >
        There were an error during image parsing we will try in next 5 seconds

        <template v-slot:action="{ attrs }">
          <v-btn
              color="blue"
              text
              v-bind="attrs"
              @click="snackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-row>
</template>

<script>
export default {
  name: 'Frame',
  data: () => ({
    latestImage:{},
    timeout:2000,
    error:false,
    showImageInformation: false,
    timer: undefined,
    startTimer: 0,
    leftTime: 1000*10
  }),
  mounted(){
    this.startSlider()
  },
  methods:{
    showHideInformation(){
      if(this.showImageInformation){
        this.showImageInformation = false;
        this.timer = setTimeout(this.startSlider,this.leftTime)
      }else{
        this.showImageInformation = true;
        if(this.timer){
          this.leftTime = Date.now()-this.startTimer
          if(this.leftTime<0)
            this.leftTime = 0
          clearTimeout(this.timer)
        }
      }
    },
    startSlider(){
      this.$store.dispatch("getNextImage")
          .then((image)=> {
            this.latestImage = image;
            this.startTimer = Date.now()
            this.timer = setTimeout(this.startSlider,10*1000)
          }).catch(()=>{
            this.error = true;
            setTimeout(this.startSlider,5*1000)
      })
    }
  }
}
</script>
