<template>
  <v-app>
    <v-main>
      <Frame/>
    </v-main>
  </v-app>
</template>

<script>
import Frame from './components/Frame';

export default {
  name: 'App',

  components: {
    Frame,
  },

  data: () => ({
    //
  }),
};
</script>
